body {
    margin: 0px;
    font-family: sans-serif;
}
    .icon {
        color: white;
        background-color: #2D2D2D;
        font-size: 25px;
        padding: 0px 5px;
    }

    .header {
        background-color: #2D2D2D;
        height: 30px;
        padding: 10px;
        vertical-align: middle;
        width: 100%;
        float: right;
    }

    .mySlides {
        width: 100%;
        height: 400px;
    }

    .w3-button {
        color: black;
        background-color: white;
        border: none;
        padding: 10px;
        font-size: 50px;
    }

    .w3-display-left {
        position: absolute;
        top: 200px;
        left: 0px;
    }

    .w3-display-right {
        position: absolute;
        top: 200px;
        left: 1305px;
    }

    .menu {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 20px 30px;
    }
ul.a {
      list-style-type: square;
}

    .tableMenu {
        background-color: black;
        height: 50px;
        opacity: 0.8;
        position: absolute;
        top: 400px;
        left: 300px;
    }

    .table1 {
        width: 70%;
        box-sizing: border-box;
        float: left;
        background-color: #2D2D2D;
        color: white;
        padding: 50px 100px;
    }

    .table2 {
        width: 30%;
        box-sizing: border-box;
        float: right;
        background-color: #2D2D2D;
        border: none;
        color: white;
        padding: 50px;
    }

    .button1 {
        color: white;
        border: none;
        padding: 10px 20px;
        background-color: cornflowerblue;
        font-size: 20px;
        margin: 50px 0px;
    }

    .img1 {
        height: 80px;
        width: 150px;
        margin: 10px;
        border: 2px solid white;
    }

    .input1 {
        background-color: black;
        color: #5A5A5A;
        border: none;
        height: 30px;
        width: 250px;
        padding-left: 10px;
    }

    .input2 {
        background-color: black;
        color: white;
        border: none;
        height: 30px;
        width: 100px;
        padding-left: 10px;
    }

    .button2 {
        color: white;
        border: none;
        padding: 10px 50px;
        background-color: cornflowerblue;
        font-size: 20px;
        margin: 20px 0px;
    }